* {
  margin: 0;
  padding: 0;
}
body {
  background-color: beige;
}

.contact-main {
  height: 100%;
}
.contact-image img {
  height: 100%;
  width: 248px;
  margin-left: 430px;
}
.navbar .icon img {
  width: 200px;
  height: 100px;
  margin-top: -30px;
}

.contact-image p {
  margin: 10px;
  color: white;
  font-size: 20px;
}

.contact-image {
  height: 81vh;
  width: 250px;
  margin-left: 428px;
  background-image: url(../pictures/contact.webp);
}
.contact-image p {
  color: black;
}
.contact-image p span i {
  margin-right: 10px;
  font-size: 20px;
}
.contact-form h3 {
  color: rgb(41, 83, 103);
  text-align: center;
}
.contact-form {
  padding: 5px 0px 5px 10px;
  background-color: white;
  width: 20%;
  position: absolute;
  top: 90px;
  left: 678px;
}

.contact-form input {
  height: 20px;
  width: 248px;
  outline: none;
  padding: 2px 3px;
}
.contact-form textarea {
  outline: none;
}
.contact-form button {
  background-color: rgb(41, 83, 103);
  margin: px;
  padding: 8px;
  border: none;
  border-radius: 12px;
  text-align: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 248px;
  font-weight: bold;
}
.contact-form button:hover {
  color: rgb(41, 83, 103);
  background-color: white;
  border: 1px solid rgb(41, 83, 103);
}
