*{
    margin: 0;
    padding: 0;
}
.contact-main{
  background-color: beige;
  height: 100%;
}
.contact-image img{
  height: 100%;
  width: 248px;
  margin-left: 430px;
  
}

.contact-image p{
  margin: 10px;
  color: white;
  font-size: 20px;
}

.contact-image{
  height: 78vh;
  width: 250px;
  margin-left: 428px;
  background-image: url(../pictures/img9.JPG)
}

.contact-form h3{
  color: orange;
  text-align: center;
}
.contact-form{
  padding: 5px 0px 5px 10px;
  background-color: white;
  width: 20%;
  position: absolute;
  top: 90px;
  left: 678px;
}

.contact-form input{
  height: 20px;
  width: 248px;
}
.contact-form button{
  background-color: orange;
  margin: px;
  padding: 8px;
  border: none;
  border-radius: 12px;
  text-align: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 248px;
  font-weight: bold;
}
