* {
  margin: 0;
  padding: 0;
}
.navbar .icon img {
  width: 200px;
  height: 100px;
  margin-top: -30px;
}
.dental_image img {
  width: 100%;
  height: 70vh;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}
.dental_main {
  padding: 5px;
  margin: 10px;
}
.dental_main h1 {
  font-family: arial;
  text-align: center;
  color: rgb(41, 83, 103);
}
.dental_main p {
  font-size: 20px;
}
.dental_main h2 {
  font-family: arial;
  color: rgb(41, 83, 103);
}
.doctor1_details {
  background: rgb(177, 177, 177);
  border-radius: 3px;
  width: 28%;
}
.doctors {
  display: flex;
  gap: 100px;
}
.doctor1_details .data {
  padding-left: 20px;
}
.doctor1_details img {
  padding: 20px;
}

.doctor2_details p {
  position: absolute;
  left: 400px;
  top: 1200px;
}
