*{
    margin: 0;
    padding: 0;
}
.dental_image img{
    width: 100%;
    height: 70vh;
    border-bottom-left-radius:40%;
     border-bottom-right-radius:40%;
}
.dental_main{
    padding: 5px;
    margin: 10px;
}
.dental_main h1{
    font-family: arial;
    text-align: center;
    color: orange;
}
.dental_main p{
    font-size: 25px;
}
.dental_main h2{
    font-family: arial;
    color: orange;
}
.doctor1_details p{
    position: absolute;
    left: 350px;
    top: 860px;
}
.doctor2_details p{
    position: absolute;
    left: 400px;
    top: 1200px;
}