/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/*.pictures{
width: 100%;
display: block ;
}

.pictures-container{
    width: 100%;
    display: flex;
    
}
.card{
    width: 25%;
}
 .card img{
    width:200px ;
    height: 200px;
} */
.pictures img{
    width: 80%;
    height: 40vh;
}
.pictures-container{
    display: flex;
}