* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-size: cover;
  text-align: center;
  font-size: 30px;
  background-color: beige;
}
.log-page {
  padding-top: 50px;
  height: 100vh;
  background-size: cover;
  width: 100%;
  color: white;
  background-repeat: no-repeat;
  position: absolute;
  background-position: bottom;
}
.log {
  background-color: rgb(250, 248, 248);
  box-shadow: 1px 0px 1px 0px rgb(177, 177, 177);
  height: 58vh;
  width: 23%;
  margin: auto;
  padding: 30px 30px;
  margin-top: 45px;
  color: rgb(41, 83, 103);
}
.log h1 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}
.log p {
  font-weight: bold;
}
.log input {
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
  border: none;
  border-bottom: 1px solid grey;
  background: transparent;
  color: black;
  outline: none;
  font-size: 14px;
}
.log-btn {
  padding: 6px 20px;
  width: 100%;
  color: black;
  border: none;
  outline: none;
  font-size: 18px;
  margin-top: 15px;
  border-radius: 20px;
  background: rgb(41, 83, 103);
  color: white;
  margin-bottom: -30px;
}
.log-btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(41, 83, 103);
  border: 1px solid rgb(41, 83, 103);
}
.log a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  /* color: black; */
}
.sign {
  color: orange;
}
